In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
print("Prabha")

Prabha

In [6]:
#dynamic memory allocation

a=10
print(a)
print("address of a in 1st instance=",id(a)) #prints the address

a=3.14
print(a)
print("address of a in 2nd instance=",id(a))

a="NTT Bangalore"
print(a)
print("address of a in 2nd instance=",id(a))

10
address of a in 1st instance= 10751144
3.14
address of a in 2nd instance= 139748272658416
NTT Bangalore
address of a in 2nd instance= 139748271140848

In [ ]:
2+3

5

In [ ]:
a=10
print(a)
print("address of a=",id(a))

b=10
print(b)
print("address of b=",id(b))

10
address of a= 10751144
10
address of b= 10751144

In [9]:
#deleting the variable

a=10
print(a)

del a
print(a)

10

NameError: name 'a' is not defined

In [11]:
#creating multiple variables

a,b,c = 10,3.14,"NTT"

print(a,b,c)

#assigning single value to multiple variables

a,b,c = 100,100,100
print(a,b,c)

10 3.14 NTT
100 100 100