In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
print("Prabha")

Prabha

In [ ]:
#dynamic memory allocation

a=10
print(a)
print("address of a in 1st instance=",id(a)) #prints the address

a=3.14
print(a)
print("address of a in 2nd instance=",id(a))

a="NTT Bangalore"
print(a)
print("address of a in 2nd instance=",id(a))

10
address of a in 1st instance= 10751144
3.14
address of a in 2nd instance= 139748272658416
NTT Bangalore
address of a in 2nd instance= 139748271140848

In [ ]:
2+3

5

In [ ]:
a=10
print(a)
print("address of a=",id(a))

b=10
print(b)
print("address of b=",id(b))

10
address of a= 10751144
10
address of b= 10751144

In [ ]:
#deleting the variable

a=10
print(a)

del a
print(a)

10

NameError: name 'a' is not defined

In [ ]:
#creating multiple variables

a,b,c = 10,3.14,"NTT"

print(a,b,c)

#assigning single value to multiple variables

a,b,c = 100,100,100
print(a,b,c)

10 3.14 NTT
100 100 100

In [ ]:
"""variable annotation, tag added to know about the datatype of the variable.
Useful in realtime projects."""

a: int=10
print(__annotations__['a'])

b :float=3.14
print(__annotations__['b'])

int
float

In [ ]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
#String
#Postive slicing --Left to Right

s='code yug'
print(s[0:3:1])
print(s[0:5:2])

t='code_yug'
print(t[0:3:1])
print(t[0:5:2])
print(t[::]) #all 3 are optional parameters. So by default, entire string is printed.
print(t[:4]) # stopping point is considered here
#print(t[0:3:0])

cod
cd
cod
cd_
code_yug
code

In [ ]:
#Negative slicing -- Right to Left
s='BANGALORE'
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-1:-8:-3])
print(s[-2:-6:2]) #3rd parameter decides whether its positive/negative indexing. So, no result.
print(s[-1::-1])
print(s[0:20:1]) #Error won't be throw for Slicing though the stop point excedes the last point. But, Indexing will throw the error.

ERO
EOAN
ELN

EROLAGNAB
BANGALORE

In [ ]:
s='Hello,World!'
print(s[-6:-1]) #3rd parameter decides whether its positive/negative indexing.Here, nothing is given, so, its +ve indexing by default.

World

In [ ]:
#Day3
#simple if statement
if 10>5:
  print("10 is greater than 5")
  print("am inside 'if' block")
  print("still am inside 'if' block")
print("am outside 'if' block")

10 is greater than 5
am inside 'if' block
still am inside 'if' block
am outside 'if' block

In [ ]:
#input function - This fn. will take the i/p from the User. But, it handles only string so 'a' is typecasted to int in below code.
a= int(input("Enter a number"))
if 10>a:
  print("10 is greater")
else:
  print(a," is greater")

Enter a number100
100  is greater

In [ ]:
no1=input("Enter first number:")
no2=input("Enter second number:")
print(no1+no2) #concatenates the values since they are not typecasted to int
print(no1,no2)

Enter first number:13
Enter second number:24
1324
13 24

In [ ]:
#if else
age=int(input("Enter your age:"))
if age>=18:
  print("Welcome to Voting System")
  print("You can vote")
else:
  print("Sorry, you cannot vote")
print("Thank You")

Enter your age:10
Sorry, you cannot vote
Thank You

In [ ]:
#if else
Number=int(input("Enter a number:"))
if Number%2==0:
  print(Number,"is even")
else:
  print(Number,"is odd")

Enter a number:30
30 is even

In [ ]:
#if elif else
a=int(input("Enter your score: "))
if a>90:
  print("A+ Grade")
elif a>80:
  print("A Grade")
elif a>70:
  print("B Grade")
elif a>60:
  print("C Grade")
elif a>50:
  print("D Grade")

else:
  print("No Grade")

Enter your score: 100
A+ Grade

In [ ]:
#nested if
num=int(input("Enter a number:"))
if num>0:
  print("Number is positive")
  if num%2==0:
    print("Number is Even")
  else:
    print("Number is Odd")
else:
    print("Number is negative")

Enter a number:-18371723
Number is negative

In [ ]:
#While loop
i=2
while i<=5:
  print(i)
  i=i+1
print("while loop ends here")

2
3
4
5
while loop ends here

In [ ]:
#multiplication tables
Number=int(input("Enter the number for which you need the tables"))
i=1
while i<=10:
 print(i*Number)
 i=i+1
print("while loop ends here")

Enter the number for which you need the tables2
2
4
6
8
10
12
14
16
18
20
while loop ends here

In [ ]:
#printing only odd number
Number=int(input("Enter the limit until which you want the odd numbers: "))
i=1
while i<=Number:
  print(i)
  i=i+2

Enter the limit until which you want the odd numbers: 10
1
3
5
7
9

In [ ]:
#for loop - will work only based on number of sequence mentioned
for i in 'NTT DATA':
  print(i)
for i in [1,2,3,3]:
  print("NTT Data")

N
T
T

D
A
T
A
NTT Data
NTT Data
NTT Data
NTT Data

In [5]:
# In a given string, count the number of vowels
vowels=['a','e','i','o','u']
s=input("Enter a String: ")
counter=0
for t in s: #for loop defines the no. of items the counting has to happen
  if t in vowels:
    counter=counter+1
print("No. of vowels in the string =",counter)

Enter a String: efwefew
No. of vowels in the string = 3

In [57]:
#Reverse a string using slicing
#Negative Slicing
s=input("Enter a string:")
#print(s[-1::-1])
#print(s[::-1]) #In -ve slicing, when start & stop positions are not defined, default places would be -1 & end of the string.
print(s[-1:-(len(s)+1):-1])
print(s[::1])

Enter a string:asdgajsfgsdajf
fjadsgfsjagdsa

In [62]:
#Palindrome
s=input("Enter a string:")
t=s[::-1]
#print(t)
if s==t:
  print(s,"is a palindrome")
else:
  print(s,"is not a palindrome")

Enter a string:nun
nun is a palindrome