In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
print("Prabha")

Prabha

In [6]:
#dynamic memory allocation

a=10
print(a)
print("address of a in 1st instance=",id(a)) #prints the address

a=3.14
print(a)
print("address of a in 2nd instance=",id(a))

a="NTT Bangalore"
print(a)
print("address of a in 2nd instance=",id(a))

10
address of a in 1st instance= 10751144
3.14
address of a in 2nd instance= 139748272658416
NTT Bangalore
address of a in 2nd instance= 139748271140848

In [ ]:
2+3

5

In [ ]:
a=10
print(a)
print("address of a=",id(a))

b=10
print(b)
print("address of b=",id(b))

10
address of a= 10751144
10
address of b= 10751144

In [9]:
#deleting the variable

a=10
print(a)

del a
print(a)

10

NameError: name 'a' is not defined

In [11]:
#creating multiple variables

a,b,c = 10,3.14,"NTT"

print(a,b,c)

#assigning single value to multiple variables

a,b,c = 100,100,100
print(a,b,c)

10 3.14 NTT
100 100 100

In [21]:
"""variable annotation, tag added to know about the datatype of the variable.
Useful in realtime projects."""

a: int=10
print(__annotations__['a'])

b :float=3.14
print(__annotations__['b'])

int
float

In [20]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [34]:
#String
#Postive slicing

s='code yug'
print(s[0:3:1])
print(s[0:5:2])

t='code_yug'
print(t[0:3:1])
print(t[0:5:2])
print(t[::]) #all 3 are optional parameters. So by default, entire string is printed.
print(t[:4]) # stopping point is considered here
#print(t[0:3:0])

cod
cd
cod
cd_
code_yug
code

In [38]:
#Negative slicing
s='BANGALORE'
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-1:-8:-3])
print(s[-2:-6:2]) #3rd parameter decides whether its positive/negative indexing. So, no result.

ERO
EOAN
ELN