In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
print("Prabha")

Prabha

In [ ]:
#dynamic memory allocation

a=10
print(a)
print("address of a in 1st instance=",id(a)) #prints the address

a=3.14
print(a)
print("address of a in 2nd instance=",id(a))

a="NTT Bangalore"
print(a)
print("address of a in 2nd instance=",id(a))

10
address of a in 1st instance= 10751144
3.14
address of a in 2nd instance= 139748272658416
NTT Bangalore
address of a in 2nd instance= 139748271140848

In [ ]:
2+3

5

In [ ]:
a=10
print(a)
print("address of a=",id(a))

b=10
print(b)
print("address of b=",id(b))

10
address of a= 10751144
10
address of b= 10751144

In [ ]:
#deleting the variable

a=10
print(a)

del a
print(a)

10

NameError: name 'a' is not defined

In [ ]:
#creating multiple variables

a,b,c = 10,3.14,"NTT"

print(a,b,c)

#assigning single value to multiple variables

a,b,c = 100,100,100
print(a,b,c)

10 3.14 NTT
100 100 100

In [ ]:
"""variable annotation, tag added to know about the datatype of the variable.
Useful in realtime projects."""

a: int=10
print(__annotations__['a'])

b :float=3.14
print(__annotations__['b'])

int
float

In [ ]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
#String
#Postive slicing --Left to Right

s='code yug'
print(s[0:3:1])
print(s[0:5:2])

t='code_yug'
print(t[0:3:1])
print(t[0:5:2])
print(t[::]) #all 3 are optional parameters. So by default, entire string is printed.
print(t[:4]) # stopping point is considered here
#print(t[0:3:0])

cod
cd
cod
cd_
code_yug
code

In [ ]:
#Negative slicing -- Right to Left
s='BANGALORE'
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-1:-8:-3])
print(s[-2:-6:2]) #3rd parameter decides whether its positive/negative indexing. So, no result.
print(s[-1::-1])
print(s[0:20:1]) #Error won't be throw for Slicing though the stop point excedes the last point. But, Indexing will throw the error.

ERO
EOAN
ELN

EROLAGNAB
BANGALORE

In [ ]:
s='Hello,World!'
print(s[-6:-1]) #3rd parameter decides whether its positive/negative indexing.Here, nothing is given, so, its +ve indexing by default.

World

In [ ]:
#Day3
#simple if statement
if 10>5:
  print("10 is greater than 5")
  print("am inside 'if' block")
  print("still am inside 'if' block")
print("am outside 'if' block")

10 is greater than 5
am inside 'if' block
still am inside 'if' block
am outside 'if' block

In [ ]:
#input function - This fn. will take the i/p from the User. But, it handles only string so 'a' is typecasted to int in below code.
a= int(input("Enter a number"))
if 10>a:
  print("10 is greater")
else:
  print(a," is greater")

Enter a number100
100  is greater

In [ ]:
no1=input("Enter first number:")
no2=input("Enter second number:")
print(no1+no2) #concatenates the values since they are not typecasted to int
print(no1,no2)

Enter first number:13
Enter second number:24
1324
13 24

In [ ]:
#if else
age=int(input("Enter your age:"))
if age>=18:
  print("Welcome to Voting System")
  print("You can vote")
else:
  print("Sorry, you cannot vote")
print("Thank You")

Enter your age:10
Sorry, you cannot vote
Thank You

In [ ]:
#if else
Number=int(input("Enter a number:"))
if Number%2==0:
  print(Number,"is even")
else:
  print(Number,"is odd")

Enter a number:30
30 is even

In [ ]:
#if elif else
a=int(input("Enter your score: "))
if a>90:
  print("A+ Grade")
elif a>80:
  print("A Grade")
elif a>70:
  print("B Grade")
elif a>60:
  print("C Grade")
elif a>50:
  print("D Grade")

else:
  print("No Grade")

Enter your score: 100
A+ Grade

In [ ]:
#nested if
num=int(input("Enter a number:"))
if num>0:
  print("Number is positive")
  if num%2==0:
    print("Number is Even")
  else:
    print("Number is Odd")
else:
    print("Number is negative")

Enter a number:-18371723
Number is negative

In [ ]:
#While loop
i=2
while i<=5:
  print(i)
  i=i+1
print("while loop ends here")

2
3
4
5
while loop ends here

In [ ]:
#multiplication tables
Number=int(input("Enter the number for which you need the tables"))
i=1
while i<=10:
 print(i*Number)
 i=i+1
print("while loop ends here")

Enter the number for which you need the tables2
2
4
6
8
10
12
14
16
18
20
while loop ends here

In [ ]:
#printing only odd number
Number=int(input("Enter the limit until which you want the odd numbers: "))
i=1
while i<=Number:
  print(i)
  i=i+2

Enter the limit until which you want the odd numbers: 10
1
3
5
7
9

In [ ]:
#for loop - will work only based on number of sequence mentioned
for i in 'NTT DATA':
  print(i)
for i in [1,2,3,3]:
  print("NTT Data")

N
T
T

D
A
T
A
NTT Data
NTT Data
NTT Data
NTT Data

In [ ]:
# In a given string, count the number of vowels
# Syntax - for variable in sequence. Variable will hold the values in sequence each at a time.
vowels=['a','e','i','o','u']
s=input("Enter a String: ")
counter=0
for t in s: #for loop defines the no. of items the counting has to happen & executes in sequence. Keyword 'in' is a membership operator.
  if t in vowels:
    counter=counter+1
print("No. of vowels in the string =",counter)

Enter a String: efwefew
No. of vowels in the string = 3

In [ ]:
#Reverse a string using slicing
#Negative Slicing
s=input("Enter a string:")
#print(s[-1::-1])
#print(s[::-1]) #In -ve slicing, when start & stop positions are not defined, default places would be -1 & end of the string.
print(s[-1:-(len(s)+1):-1])
print(s[::1])

Enter a string:asdgajsfgsdajf
fjadsgfsjagdsa

In [ ]:
#Palindrome
s=input("Enter a string:").lower() #lower() function changes the char to lower case
t=s[::-1]
#print(t)
if s==t:
  print(s,"is a palindrome")
else:
  print(s,"is not a palindrome")

Enter a string:MAlayalam
malayalam is a palindrome

In [ ]:
#nested for loop

for i in 'BLR':
  print(i,"Outerloop")
  for j in 10,20,30:
    print("Innerloop")
    print(i,j)

B Outerloop
Innerloop
B 10
Innerloop
B 20
Innerloop
B 30
L Outerloop
Innerloop
L 10
Innerloop
L 20
Innerloop
L 30
R Outerloop
Innerloop
R 10
Innerloop
R 20
Innerloop
R 30

In [ ]:
#break statement - used to alter the flow of the program. Will take you out of the statement you're in.

i=0
for i in range(10):
  print(i)
  i=i+1
  if i==10:
    break
print("Loop done for 10 times")

0
1
2
3
4
5
6
7
8
9
Loop done for 10 times

In [ ]:
#string manipulations.
s1='Apple'
s2='Banana'

print(s1+s2)
print(s2*5)

AppleBanana
BananaBananaBananaBananaBanana

In [ ]:
#String is immutable i.e. can't be modified. Once its created, can't be changed anytime. To change, it can be stored in a different variable.
s1='Apple'
print(s1[0])
s1[0]='B'
print(s1)

A

NameError: name 's1' is not defined

In [ ]:
# deletion of a string. Only the entire can be deleted not just its characters.
s1='Apple'
print(s1)
del(s1)
print(s1)

Apple

NameError: name 's1' is not defined

In [ ]:
#startswith function
mobile_no=input("Enter a mobile number to find its country:")
if mobile_no.startswith('+91'):
  print("India")
elif mobile_no.startswith('+35'):
  print("Ireland")
elif mobile_no.startswith('+11'):
  print("Germany")
else:
  print("Not Found")

Enter a mobile number to find its country:wute2gi
Not Found

In [ ]:
#endswith() function
URL=input("Enter a URL:")
if URL.endswith('.com'):
  print("Commercial website")
elif URL.endswith('.edu'):
  print("Educational website")
elif URL.endswith('.org'):
  print("Charitable Organisation website")
else:
  print("Not Found")

Enter a URL:www.helpline.org
Charitable Organisation website

In [ ]:
#stripping
name=input("Enter your name:")
print(name)
name=name.lstrip('a')
print(name)

Enter your name:aalan
aalan
lan

In [ ]:
'''automatically removes the repeated characters. Stripping will be stopped once the 1st mismatch from the input string is encountered.
1. Consider the input string.
2. Check if its present in strip function's input and stripping happens until the 1st mismatch is encountered.
'''
URL=["https://www.myntra.com","https://www.gmail.com","https://www.ajio.com"] #sequence of values is the list
for i in URL:
  #i= i.lstrip('https://www.')
  i=i.lstrip('ksadasfhtp/w.')
  print(i)
  j=i.lstrip('htp:/') #automatically removes the repeated characters. Stripping will be stopped once the 1st mismatch is encountered.
  print(j)

://www.myntra.com
www.myntra.com
://www.gmail.com
www.gmail.com
://www.ajio.com
www.ajio.com

In [ ]:
#String comparison
s1='Apple'
s2='apple'
print(ord('A'))
print(ord('a'))

print(s1.replace('p','P',2))

if s1>s2:
  print('s1 is greater')
else:
  print('s2 is greater')

print(s1==s2)

65
97
APPle
s2 is greater
False

In [ ]:
#Split --Splitting will be according to the character passed in the fn.
s="I live in Bangalore"
#s.split()
s1="I.live_in Bangalore_since_2002"
s1.split('.',2)
#s1.split('_')

['I', 'live_in Bangalore_since_2002']

In [ ]:
#list
#Python's o/p will be provided in list or tuple in most of the cases.
l=[10,20,1.1,'NTT','a']
print(l)
print(type(l))
list1=[2+3j,'A',123,[1,2,'b']]
print(list1)
list1[-4]
print(list1[3][2])

[10, 20, 1.1, 'NTT', 'a']
<class 'list'>
[(2+3j), 'A', 123, [1, 2, 'b']]
b

In [ ]:
#list slicing
l1=[2+3j,'A',123,[1,2,'b']]
l1[:2]

[(2+3j), 'A']

In [ ]:
#Diff. b/w remove & pop is that remove returns no value when something is removed while pop returns the value that is removed
l1=[10,20,30,40]
print(l1.remove(30))
print('remaining elements:',l1)
l2=[85,86,87,88]
print('the popped element is',l2.pop())
print('remaining elements:',l2)

None
remaining elements: [10, 20, 40]
the popped element is 88
remaining elements: [85, 86, 87]

In [ ]:
#remove duplicates from given list
l1=[10,25,36,10,81,26]
uniq_list=[]
for i in l1:
  if i not in uniq_list:
    uniq_list.append(i)
print(uniq_list)

[10, 25, 36, 81, 26]

In [ ]:
#remove duplicates from given list without using empty list
l1=[10,25,36,10,81,26]
while i in l1:
  if l1.count(i)>1:
    l1.remove(i)
print(l1)

KeyboardInterrupt:

In [ ]:
#program to find 2nd largest element from the list
l1=[12,243,563,100,9]
first_largest=max(l1)
l1.remove(first_largest)
print("2nd largest is",max(l1))

2nd largest is 243

In [ ]:
#program to find nth largest element from the list
l1=[12,243,563,100,9]
#563,243,100,12,9
n = int(input("Enter the value to get the nth largest:"))
i = n-1
j=1
while j<=i:
  l1.remove(max(l1))
  j=j+1
print(n,"st/nd/rd/th largest is",max(l1))

Enter the value to get the nth largest:4
4 st/nd/rd/th largest is 12

In [ ]:
#find the no of occurences of the elements in list
l1=[12,1,34,12,34,1,2,2,7,8,8]
for i in l1:
  print(i,"occurs",l1.count(i),"times")

12 occurs 2 times
1 occurs 2 times
34 occurs 2 times
12 occurs 2 times
34 occurs 2 times
1 occurs 2 times
2 occurs 2 times
2 occurs 2 times
7 occurs 1 times
8 occurs 2 times
8 occurs 2 times

In [ ]:
#Tuple. Tuple is represented by ().
t1=(10,20,30,40)
print(t1)
print(type(t1))

(10, 20, 30, 40)
<class 'tuple'>

In [ ]:
#Tuple is immutable unlike lists. But you can create a new tuple.
t1=(10,20,30,40,'NTT',1.1)
#t1[0]=100
t1.remove(20)
print(t1)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
#Converting list to tuple & again to list
l1=[10,20,1.1]
print(l1)
print(type(l1))
t1=tuple(l1)
print(t1)
print(type(t1))
l2=list(t1)
print(l2)
print(type(l2))

#adding a single element in tuple. , should be added at the end.
t3=(7)
print(t3)
print(type(t3))
t4=(7,)
print(t4)
print(type(t4))

[10, 20, 1.1]
<class 'list'>
(10, 20, 1.1)
<class 'tuple'>
[10, 20, 1.1]
<class 'list'>
7
<class 'int'>
(7,)
<class 'tuple'>

In [ ]:
#Tuple indexing
t1=(10,20,30,40,'NTT',1.1)
print(t1[0])
print(t1[-1])

10
1.1

In [ ]:
#Concatenation. New memory block will be allocated for the tuple that is modified i.e. its treated as new tuple.
t1=(10,20,30,40,'NTT',1.1)
print(id(t1))
new_tuple=t1+(80,90)
print(new_tuple)

t1=t1+(80,90)
print(t1)
print(id(t1))

138001978077152
(10, 20, 30, 40, 'NTT', 1.1, 80, 90)
(10, 20, 30, 40, 'NTT', 1.1, 80, 90)
138001978038800

In [ ]:
#memory consumption of list & tuple
import sys
list1=[10,20,30,40,50,60]
tuple1=(10,20,30,40,50,60)
print("size of list1 is",sys.getsizeof(l1))
print("size of tuple1 is",sys.getsizeof(t1))

size of list1 is 88
size of tuple1 is 104

In [2]:
#Dictionary. Its is mainly used when you want to define the key values as per your requirement.

dict1={101:'A',102:'B',103:'C'}
print(dict1)
print(type(dict1))
dict1[101]

{101: 'A', 102: 'B', 103: 'C'}
<class 'dict'>

'A'

In [26]:
#Dictionary can be defined with both List & Tuple.

dict2={9881:["Alex",22,"Addr1"],8443:["Bob",34,"Addr2"],9442:["Charlie",45,"Addr3"]}
dict2[9883]=["Mike",56,"Addr4"]
#dict2[9442]
print(dict2)
dict2[9883]
del dict2[9883]
print(dict2)

{9881: ['Alex', 22, 'Addr1'], 8443: ['Bob', 34, 'Addr2'], 9442: ['Charlie', 45, 'Addr3'], 9883: ['Mike', 56, 'Addr4']}
{9881: ['Alex', 22, 'Addr1'], 8443: ['Bob', 34, 'Addr2'], 9442: ['Charlie', 45, 'Addr3']}

In [29]:
#dict operations using inbuilt methods
dict2={9881:["Alex",22,"Addr1"],8443:["Bob",34,"Addr2"],9442:["Charlie",45,"Addr3"]}
print(dict2.keys())

print(dict2.values())

#print(dict2.items())

val=dict2.items()
print(type(val))
print(val)

dict_keys([9881, 8443, 9442])
dict_values([['Alex', 22, 'Addr1'], ['Bob', 34, 'Addr2'], ['Charlie', 45, 'Addr3']])
<class 'dict_items'>
dict_items([(9881, ['Alex', 22, 'Addr1']), (8443, ['Bob', 34, 'Addr2']), (9442, ['Charlie', 45, 'Addr3'])])

In [32]:
#Set

set1={13,'NTT',10.45}
print(set1)

s=set("NTT Data")
print(s)
#No indexing concept in Sets
set1[0]

{'NTT', 10.45, 13}
{'t', 'T', 'a', 'D', 'N', ' '}

TypeError: 'set' object is not subscriptable